PORT=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# === SMTP (Brevo) ===
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# === JWT for reset link ===
JWT_SECRET=

# === Frontend domain for reset link ===
APP_DOMAIN=http://localhost:3000/auth

# === Cloudinary ===
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
